body{
    background-color: beige;
}
.container{
    width: 80vh;
    background-color: rgb(216, 234, 127);
    border-radius: 5px;
    box-shadow: 10px 10px 12px rgba(77, 80, 56, 0.293);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
}
